@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.projects-heading{
    font-family: Bricolage Grotesque;
    font-size: larger;
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
}

#projects{
    padding-top: 0;
}

.project-name{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    padding-top: 15px;
    font-family: Bricolage Grotesque;
}

.project-card{
    width: 300px;
    height: max-content;
    /* border: 2px solid rgba(26, 158, 143, 0.345); */
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.200);
    border-radius: 10px;
    padding-bottom: 10px;
}

.link-button{
    font-family: Inter;
    margin: auto;
    display: block;
    padding: 10px 15px;
    color: white;
    background-color: rgb(26, 158, 143);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.projects-intro{
    text-align: center;
    color: gray;
    margin: auto auto;
    margin-top: 20px;
    display: block;
    max-width: 900px;
}