@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');


.projects-heading{
    font-family: Syne;
    font-size: larger;
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
}

#projects{
    padding-top: 0;
}

.project-name{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    padding-top: 15px;
    font-family: Syne;
}

.project-card{
    width: 300px;
    height: max-content;
    /* border: 2px solid rgba(26, 158, 143, 0.345); */
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.200);
    border-radius: 10px;
    padding-bottom: 10px;
}

.link-button{
    font-family: DM Sans;
    margin: auto;
    display: block;
    padding: 10px 15px;
    color: white;
    background-color: rgb(26, 158, 143);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.projects-intro{
    text-align: center;
    color: gray;
    margin: auto auto;
    margin-top: 20px;
    display: block;
    max-width: 900px;
}