@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Google Sans Flex;
  text-decoration: none;
  user-select: none;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
  background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(139, 92, 246, 0.25),
      transparent 70%
    ),
    #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* NAVBAR */
nav {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.logo-text {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: white;
}

.slash {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.3);
}

.logo {
  width: 40px;
  margin: 5px 10px;
  pointer-events: none;
}

/* DESKTOP MENU */
.menu {
  display: flex;
  position: relative;
  right: 50px;
  gap: 25px;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.menu a:hover {
  color: rgb(192, 165, 255);
  transition: 0.5s;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  z-index: 100;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 5px;
}

/* MOBILE MENU */
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .menu {
    position: fixed;
    top: 65px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #17171762;
    flex-direction: column;
    gap: 0;
    transition: right 0.3s ease-in-out;
    /* border-left: 0.5px solid rgba(255, 255, 255, 0.129); */
  }

  .menu.active {
    right: 0;
  }

  .menu a {
    padding: 25px 20px;
    text-align: center;
    /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.129); */
  }

  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
